# image folder
!images/

images/*
!images/default.jpeg

# Created by https://www.gitignore.io/api/python,sublimetext
# Edited

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/


### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# End of https://www.gitignore.io/api/python,sublimetext
