.content{
    float: left;
    width: 100%;
    margin-top: 5px;
    padding-top: 6px;
    border-top: 1px dashed lightgrey;
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: lightgrey;
}

.content .content-left{
    width: 25%;
    float: left;
    position: relative;
    padding-right: 10px;
}

.content .content-left img{
    vertical-align: middle;
    border: 0;
    width: 100%;
    height: auto;
}

.content .content-left .review-count{
    text-align: center;
    color: orangered;
}

.content .content-right{
    width: 75%;
    float: left;
}

.content .content-right h3{
    font-weight: 400;
    color: orangered;
}

.content .content-right text-center{
    margin-bottom: 0px;
    line-height: 1.35;
    padding-bottom: 0px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}