label{
	display: inline-block;
	float: left;
	clear: left;
	width: 90px;
	text-align: right;
}

a{
  float: left;
    clear: left;
    width: 150px;
}

textarea{
    width: 100%;
}

input{
    margin-right: 500px;
	display: inline-block;
	float: left;
}