{% extends 'layout.html' %}
{% if story %}
    {% set title = 'Edit Story.' %}
{% else %}
    {% set title = 'Create Story.' %}
{% endif %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{%endblock%}

{% block body %}
    {% if story %}
        <a href="{{ url_for('edit_story', _id=story._id) }}">Edit story content</a>
    {% endif %}
    <div class="w3-col">
        <form id="createStoryForm" method="post" enctype="multipart/form-data" action="{{ action }}">
            <label>Title: </label><input type="text" name="title" value="{{ story.title }}">
            <label>Publish? </label><input type="checkbox" name="published" {{ checked }}>
            {% if not story %}
                <label>Upload an Image: </label><input type="file" name="image">
            {% endif %}
            <input type="submit" name="submit">
        </form>
    </div>
{% endblock %}
