<!--
<html lang="en">

<head>
    <meta charset="utf-8">
-->
{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_story.css') }}">

    <script src="{{ url_for('static', filename='sigma/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma/plugins/sigma.renderers.parallelEdges.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma/plugins/sigma.plugins.dragNodes.min.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename='sigmaGraph.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sigma_layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='json_layout.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='ui_logic.js') }}"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(){
            init({{ story._id|e }}, {{ story.json|tojson }}, 'graph', 'infoBox');
        });
    </script>
{% endblock %}
{% block body %}
    <main>
    <div id="graph">
    </div>
    <div id="infoBox">
    </div>
    <div id="controls">
        <button id="saveBtn">Save</button>
    </div>
    </main>
{% endblock %}
