{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='graph.css') }}">

    <script src="{{ url_for('static', filename='sigma/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma/plugins/sigma.renderers.parallelEdges.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma/plugins/sigma.plugins.dragNodes.min.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename='sigmaGraph.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sigma_layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='json_layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='') }}"></script>

    <script type="text/javascript">
        init({{ story.id|e }}, {{ story.json|tojson }}, 'graph', 'infoBox');
    </script>
{% endblock %}

{% block body %}
    <div id="graph">
    </div>
    <div id="infoBox">
    </div>
{% endblock %}
