{% extends 'layout.html' %}
{% set title = 'Play.' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='player.js') }}"></script>
    <script type="text/javascript">
    	player({{ story._id }}, {{ story.json|tojson }}, {{ save|tojson }});
    </script>
    <!-- disabled because it created a cookie '__sharethis_cookie_test__' which invalidates the session.
        The cookie with sharethis: '__sharethis_cookie_test__; session': 'session_value'
        Without (valid): 'session': 'session_value'
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=592ad1289f0427001183fe70&product=inline-share-buttons"></script>
    -->
{% endblock %}

{% block body %}
    <ul id="Save_feedback"></ul>
    <div id="Story_control"><button name="save" onClick="saveToDB()">Save</button></div>
    <div id="share_div"><div class="sharethis-inline-share-buttons"></div></div>
    <div id="E_data">
    </div>
    <div id="E_text">
    </div>
    <div id="E_choices">
    </div>
{% endblock %}
