{% extends 'layout.html' %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='player.js') }}"></script>
    <script type="text/javascript">
    	player({{ story._id }}, {{ story.json|tojson }}, {{ save|tojson }});
    </script>
{% endblock %}

{% block body %}
    <ul id="Save_feedback"></ul>
    <div id="Story_control"><button name="save" onClick="saveToDB()">Save</button></div>
    <div id="E_data">
    </div>
    <div id="E_text">
    </div>
    <div id="E_choices">
    </div>
{% endblock %}
