{% extends 'layout.html' %}

{% block body %}
	<h2>{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</h2>
	{{ user.email }}
	<h3>Creations</h3>
	{% for story in creations.values() %}
		{{ story }}
		{% if story.author == current_user %}
			<a href="{{ url_for('edit_story_info', _id=story._id) }}">Edit story info</a>
			<a href="{{ url_for('delete_story', _id=story._id) }}">Delete story</a>
		{% endif %}
		<a href="{{ url_for('play_story', story_id=story._id) }}">Play story</a>
	{% endfor %}
{% endblock %}
